<div class="text-center">
  <div class="container shadow-sm">
    <app-video [screenVideo]="screenVideo" [video]="video"></app-video>
    <div class="text-danger h4" *ngIf="!isCameraWork">An error occurred while trying to record the webcam</div>
    <div class="text-danger h4" *ngIf="!isScreenWork">An error occurred while trying to start screen recording</div>
    <div *ngIf="isAllWork; else notConfirmedWork">
      <div class="card-body container questions">
        {{currentQuestionIndex + 1}} / {{questions.length}}
        <div class="card-body container currentQuestion">
          <mat-card>
            <mat-card-title>
              {{questions[currentQuestionIndex]}}
            </mat-card-title>
          </mat-card>
        </div>
      </div>
      <div class="buttonName">
        <button class="btn btn-primary mb-3"
                (click)="nextQuestion()">{{buttonName}}</button>
      </div>
    </div>
  </div>
</div>


<ng-template #notConfirmedWork>
  <p class="fs-5 mt-5 mb-4">Пожалуйста, проверьте, работает ли видеокамера. В случае некорректной работы попробуйте перезагрузить
    страницу или дать необходимые разрешения</p>
  <button (click)="start()" class="btn btn-primary mb-3" [disabled]="!(isScreenWork && isCameraWork)">
    Всё работает!
  </button>
</ng-template>
