/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #933124;
}

code {
  color: #e01a76;
}

.btn, .btn-primary:focus, .btn-primary:visited{
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  border: 1px #234759 solid;
  color: #234759;
  background-color: #f5eddd;
  box-shadow: none;
  outline:none;
}

.btn-primary:hover {
  background-color: #234759;
  color: #f5eddd;
  box-shadow: none;
  outline:none;
}

.btn-primary {
  border: 1px #234759 solid;
  color: #234759;
  background-color: #f5eddd;
}

html, body {
  min-height: 100%;
  height: 100%;
}
body { margin: 0; font-family: 'Poppins', sans-serif; background-color: #f5eddd; }

.app-content {
  min-height: 100%;
  height: auto !important;
  padding-bottom: 100px;
}

footer {
  width: 100%;
  margin-top: -60px;
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.25);
}

.card-footer {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 17px 15px;
  gap: 10px;
  overflow: hidden;
  flex-direction: column;
  margin-top: auto;
}


