a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

header {
  width: 100%;
  display: block;
  overflow: hidden;
}

header a {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
}

header a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-nav {
  align-items: center;
  padding: 10px;
  display: flex;
}

header a:active {
  background-color: rgb(145, 150, 153);
}

.card {
  margin-bottom: 30px;
  margin-right: 20px;
}

.card-title {
  color: #234759;
  font-family: Poppins, serif;
}

.form-control {
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  background-color: #f5eddd;
  color: #234759;
  box-shadow: none;
}

.form-control:focus {
  background-color: #234759;
  color: #f5eddd;
  border-color: #234759;
  box-shadow: none;
}

.btn, .btn-primary:focus {
  background-color: #f5eddd;
  box-shadow: none;
  outline:none;
  border: 1px #B5B5B5 solid;
  color: #234759;
}

.btn-primary:hover{
  background-color: #234759;
  box-shadow: none;
  outline:none;
  border: 1px #234759 solid;
  color: #f5eddd;
}
