/* *{width: 100%;}  */

h2 {
  color: #234759;
  border-bottom: 1px solid #234759;
  font-weight: 400;
  font-family: Poppins, serif;
}

.data-header {
  margin: auto 20px;
}

.input-form {
  padding: 20px;
  width: 100%;
}

.bio-data {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.label-form {
<<<<<<< HEAD
  color: rgb(0, 0, 0);
=======
  color: #234759;
>>>>>>> origin/LOLOLO
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}

input {
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.25);
  border: 0;
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.accept-button {
<<<<<<< HEAD
  background-color: #933124;
  color: white;
=======
  background: #234759;
  color: #f5eddd;
>>>>>>> origin/LOLOLO
  border: 0;
  width: 100%;
  height: 40px;
}

.form-control {
  padding: 20px 20px;
  background-color: #f5eddd;
  color: #234759;
  box-shadow: none;
}

.form-control:focus {
  background-color: #234759;
  color: #f5eddd;
  border-color: #234759;
  box-shadow: none;
}

.accept-button:disabled {
  opacity: 0.5;
}

.form-control {
  background-color: #CFCCC3;
}
