<div class="container bg-white p-3 rounded-3 shadow-sm" style="width: 40%; padding-top: 40px; margin-top: 7%">
  <form [formGroup]="myForm" (submit)="onSubmit()">
    <div class="data-header">
      <h2 class="h2">Контактные данные</h2>
    </div>
    <div class="input-form">
      <input type="text" class="form-control" placeholder="Логин" formControlName="login" id="login">
    </div>
    <div class="input-form">
      <input type="password" placeholder="Пароль" class="form-control" formControlName="password" id="password">
    </div>
    <div class="input-form">
      <input type="text" class="form-control" placeholder="Фамилия" formControlName="surname" id="surname">
    </div>
    <div class="input-form">
      <input type="text" class="form-control" placeholder="Имя" formControlName="name" id="name">
    </div>
  </form>
  <div class="form-buttons">
    <button type="submit" class="accept-button" (click)="onSubmit()"
            [disabled]="!myForm.valid">
      Создать
    </button>
  </div>
</div>
