
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.col {

}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: #69291e;
  text-decoration: none;
}

a:hover {
  color: #8D8A82;
  text-decoration: underline;
  cursor: pointer;
}
